.ChangeModal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.ChangeModalContainer {
  padding: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}