.TableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.UserData {
  width: 100%;
  margin: 20px 0;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(167, 164, 164);
  border-radius: 5px;
}

.UserData legend {
  color: rgb(71, 69, 69);
  text-align: center;
}

.PositionAction {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.UserData p {
  margin: 5px 0;
  font-size: 1.75em;
  color: rgb(51, 49, 49);
}

.UserData button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: rgb(209, 130, 28);
  border-color: rgb(243, 167, 67);
  border-radius: 10px;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.UserData button:hover {
  background-color: rgb(243, 167, 67);
  border-color: rgb(245, 199, 139);
  color: rgb(148, 71, 20);
}

.Table {
  width: 100%;
  border-collapse: collapse;
}

.Table * {
  padding: 3px;
}

.Table thead {
  background-color: rgb(6, 117, 180);
  color: #fff;
}

.Even {
  background-color: #fff;
}

.Odd {
  background-color: rgb(130, 202, 243);
}

.Status {
  font-size: 25px;
}
.Yes {
  color: green;
}
.No {
  color: crimson;
}


.ModifyCell {
  background-color: rgb(186, 224, 186);
  padding-right: 0;
}
.ModifyCell button {
  padding: 1px 5px;
  background-color: rgb(209, 130, 28);
  border-color: rgb(243, 167, 67);
  border-radius: 50px;
  font-size: 25px;
  color: #fff;
}

.Modify:hover {
  background-color: rgb(243, 167, 67);
}

.NewExpense {
  width: 90%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(167, 164, 164);
}

.NewExpense button {
  margin: 20px 0;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: rgb(209, 130, 28);
  border-color: rgb(243, 167, 67);
  border-radius: 10px;
  font-size: 17px;
  color: rgb(255, 255, 255);
}

.NewExpense button:hover {
  background-color: rgb(243, 167, 67);
  border-color: rgb(245, 199, 139);
  color: rgb(148, 71, 20);
}

.NewExpense .icon {
  margin-right: 5px;
  font-size: 25px;
}

.TotalSection {
  width: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(102, 151, 102);
  border-radius: 5px;
}

.TotalSection legend {
  color: rgb(34, 92, 34);
}
.TotalSection p {
  font-size: 1.75em;
  color: rgb(16, 51, 16);
}