.Table {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Table .UserData {
  margin: 20px 0;
  background-color: darkslateblue;
}

.Table table {
  width: 90%;
  background-color: bisque;
}

.Table table * {
  border: 1px solid grey;
}

.Paid {
  background-color: rgb(8, 126, 8);
  color: rgb(10, 77, 10);
}
.Unpaid {
  background-color: crimson;
  color: rgb(63, 11, 21);
}