.App {
  padding: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(186, 224, 186);
}

.App h1 {
  margin-bottom: 20px;
}